.overall {
    margin: 0;
    background-image: url(bg.png);
    background-size: cover;
    display: flex;
    
  }

  
  h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: red
  }
  
  .head,
  .left_arm,
  .torso,
  .right_arm,
  .left_leg,
  .right_leg {
    background-color: #6de85f;
  }
  
  .head {
    width: 250px;
    margin:  auto;
    height: 150px;
    border-radius: 150px 100px 0 0;
    margin-bottom: 10px;
    background-color: rgb(50, 50, 130);
  }
  
  .eyes {
    position: relative;
    top: 100px;
    background-color: black;
  }
  
  .left_eye,
  .right_eye {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: rgb(234, 255, 0);
    display: inline-block;
  }
  
  .left_eye {
    margin-left: 30px;
  }
  
  .right_eye {
    margin-left: 100px;
  }
  
  .upper_body {
    width: 340px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    
    
  }
  
  .left_arm,
  .right_arm {
    width: 40px;
    height: 125px;
    border-radius: 100px;
    margin-top: 20px;
    background-color: rgb(227, 109, 6);
  }
  
  .left_arm {
    margin-right: 10px;
  }
  
  .left_arm {
    margin-right: 10px;
    
  }
  
  .right_arm {
    margin-left: 10px;
    
  }
  
  .torso {
    width: 200px;
    height: 200px;
    border-radius: 0 0 50px 50px;
    transition: border-radius 1s;
    background-color: rgb(234, 8, 8);
  }
  
  .lower_body {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .left_leg,
  .right_leg {
    width: 40px;
    height: 120px;
    border-radius: 0 0 100px 100px;
    display: inline-block;
    background-color: yellow;
  }
  
  .left_leg {
    margin-left: 45px;
  }
  
  .right_leg {
    margin-left: 30px;
  }
  
  .dance:hover .head {
    animation: movehead 2s infinite;
  }
  
  .dance:hover .torso {
    border-radius: 40%;
    animation: movetorso 2s infinite;
  }
  
  .dance:hover .left_arm {
    animation: moveleftarm 2s infinite;
  }
  
  .dance:hover .right_arm {
    animation: moverightarm 2s infinite;
  }
  
  .dance:hover .left_leg {
    animation: moveleftleg 2s infinite;
  }
  
  .dance:hover .right_leg {
    animation: moverightleg 2s infinite;
  }
  
  @keyframes movehead {
    0% {
      width: 200px;
    }
  
    25% {
      width: 300px;
    }
  
    50% {
      width: 200px;
    }
  
    75% {
      width: 300px;
    }
  
    100% {
      width: 200px;
    }
  }
  
  @keyframes moveleftarm {
    0% {
      transform: rotate(50deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(-60deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moverightarm {
    5% {
      transform: rotate(60deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(60deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moveleftleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-20deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(20deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes moverightleg {
    0% {
      transform: rotate(20deg);
    }
  
    25% {
      transform: rotate(-20deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(-20deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes movetorso {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
